<div class="profil-wrapper">
  <div class="profil-container">
    <div class="profil-header">
      <div class="profil-image">
        <img src="https://www.photoprof.fr/images_dp/photographes/profil_vide.jpg" alt="Image de profil" />
      </div>
      <div class="profil-details">
        <h2>Nom Prénom</h2>
        <div class="full-name">Nom: Jihed Bouzidi</div>
        <div class="email">Email: jihedb93gmail.com</div>

        <div class="full-name">Score totale: 7</div>
      </div>
    </div>

    <div class="profil-bio">
      <p class="bio-text">
        Voici un petit texte de bio pour personnaliser cette page de profil. Ajoutez ici une description courte de l'utilisateur ou ses informations supplémentaires.
      </p>
    </div>

    <div class="edit-btns">
      <button class="edit-btn">Modifier</button>
      <button class="edit-btn">Déconnexion</button>
    </div>
  </div>
</div>
