:host {
    display: block;
    background-image: url('https://img.freepik.com/free-vector/technology-global-digital-earth-futuristic-background_1017-23323.jpg?t=st=1734879792~exp=1734883392~hmac=183a4654aab10e43d61334abc68bb9f4974f77d5321bd9b738d46fde51c10eda&w=2000');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    text-align: center;
    padding: 50px;
    background: rgba(244, 211, 211, 0.9);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    max-width: 80%;
    margin: auto;
  }
  
  h1 {
    font-size: 2.5em;
    margin: 20px 0;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    color: #88281f;
  }
  
  .quiz-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
  }
  
  .map img {
    width: 100%;
    max-width: 450px;
    height: auto;
    border: 4px solid #88281f;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
  }
  
  .quiz-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin-left: 20px;
  }
  
  .score-display {
    width: 50%;
    max-width: 300px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    background-color: #88281f;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .quiz-options label {
    color: #88281f;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .styled-select {
    width: 100%;
    padding: 12px;
    margin: 15px 0;
    border: 2px solid #88281f;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 50px;
  }
  
  .styled-select:hover {
    border-color: #1f7ca1;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  }
  
  .styled-select:focus {
    border-color: rgb(200, 100, 255);
    box-shadow: 0 0 12px rgba(200, 100, 255, 0.5);
    outline: none;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .btn {
    background-color: #88281f;
    border: none;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    margin: 20px 0;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .btn:hover {
    background-color: #c0632c;
  }
  
  .btn:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    transform: translateY(2px);
  }
  .earth {
    margin-top: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: transparent url('https://w7.pngwing.com/pngs/682/579/png-transparent-earth-globe-world-map-blue-earth-earth-illustration-blue-globe-photography-thumbnail.png') center/cover no-repeat;
    background-size: cover;
    box-shadow: inset 0px -20px 50px 10px #004e4e80, 0px 0px 30px 6px #00ffff80;
    transform-style: preserve-3d;
    animation: 10s ;

}
.styled-select {
  background-color: #fff;
}

.correct-selection {
  background-color: #4CAF50; /* Fond vert */
  color: white; /* Texte blanc */
}

.incorrect-selection {
  background-color: #f44336; /* Fond rouge */
  color: white; /* Texte blanc */
}
